<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="testData" type="Xunit.Extensions.Configuration.TestDataSection, xunit.extensions.config"/>
  </configSections>
  <testData>
    <tests>
      <add name="Demo">
        <data>
          <add index="0" p0="Hello" p1="123" p2="true" p3="World" />
          <add index="1" p0="Goodnight" p1="456" p2="false" p3="Moon" />
        </data>
      </add>
      <add name="Xunit.Extensions.ConfigOrInlineDataAttributeTests.GetDataWithConfig">
        <data>
          <add index="0" p0="1" />
          <add index="1" p0="2" />
        </data>
      </add>
      <add name="Xunit.Extensions.ConfigOrInlineDataAttributeTests.GetDataWithConfigTwice">
        <data>
          <add index="0" p0="true" />
          <add index="1" p0="false" />
        </data>
      </add>
    </tests>
  </testData>
</configuration>