<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="testData" type="Xunit.Extensions.Configuration.TestDataSection, xunit.extensions.config"/>
  </configSections>

  <testData defaultNamespace="Xunit.Extensions.Services">
    <tests>
      <add name="Demo">
        <data>
          <add index="0" p0="Hello" p1="123" p2="true" p3="World" />
          <add index="1" i="456" s="Goodnight" b="false" e="Moon" />
        </data>
      </add>
      <add name="Xunit.Extensions.ConfigOrInlineDataAttributeTests.GetDataWithConfig">
        <data>
          <add index="0" p0="0" />
        </data>
      </add>
      <add name="SectionConfigTestDataServiceTests.GetDataWithConfigMultipleTimes">
        <data>
          <add index="0" p0="true" />
          <add index="1" p0="false" />
        </data>
      </add>
    </tests>
  </testData>
  
</configuration>